body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#map {
    height: 100vh;
    /* <--- 지도 표시를 위한 핵심 높이 설정 */
    width: 100%;
    background-color: lightblue;
    /* 임시 배경색 */
}

#controls h2 {
    margin: 0 15px 0 0;
    font-size: 1.2em;
}






